<ul class="lg:flex justify-end font-semibold text-lg font-sans xl:gap-8">
    <li class="p-3 border-t lg:border-0">
        <a class="text-slate-800 hover:opacity-50" [routerLink]="['about']" (click)="scrollToTop()">About</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a class="text-slate-800 hover:opacity-50" [routerLink]="['divorce-services']" (click)="scrollToTop()">Divorce Services</a>
    </li>
    <li class="p-3 border-t lg:border-0">
        <a class="text-slate-800 hover:opacity-50" [routerLink]="['investment-services']" (click)="scrollToTop()">Investment Services</a>
    </li>
</ul>