<div class="bg-blue-950 hidden lg:block">
    <div class="container text-white py-2">
        <ul class="flex justify-between">
            <li class="text-white">
                Work with Utah's #1 <span class="text-emerald-200">real estate agent</span>
            </li>
            <li>
                
            </li>
            <li>
                <app-phone></app-phone>
            </li>
            <li>
                <app-email></app-email>
            </li>
            <li>
            </li>
            <li>
                <app-social-links></app-social-links>
            </li>
        </ul>
    </div>
</div>
